@{
    Layout = null;
}

<html lang="en">

<head>
    <title>Coming Soon</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href=@Styles.Render("~/Content/css")>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Tactical Forge</h1>
        </div>
        <div class="row"></div>
        <div id="grey_square">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Coming Soon</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <form id="emailForm">
                            <input id="firstName" type="text" class="form-control" placeholder="First Name (required)" name="firstName" required>
                            <input id="lastName" type="text" class="form-control" placeholder="Last Name (required)" name="lastName" required>
                            <input id="emailInput" type="email" class="form-control" placeholder="Email Address (required)" name="emailInput" required>
                            <button id="emailSubmit" class="btn btn-primary" type="button">Notify Me!</button>
                        </form>
                    </div>
                    <!-- /input-group -->
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#emailSubmit").click(function () {

                var firstName = $("#firstName").val();
                var lastName = $("#lastName").val();
                var email = $("#emailInput").val();

                if (firstName != "" && lastName != "" && email != "") {
                    $.ajax({
                        method: "POST",
                        url: "/submitEmail",
                        data: {
                            Name: firstName + " " + lastName,
                            Email: email
                        }
                    })
                      .done(function () {
                          alert("Thank you for registering");
                      });

                    $("#firstName").val("");
                    $("#lastName").val("");
                    $("#emailInput").val("");
                }
                else {
                    alert("Please complete the form")
                }
            });               
        });
    </script>

</body>

</html>

